body {
  background-color: bisque;
}
/*
//for the secondary grid (color palette)//
.colorgrid{

}
*/
#pixelPainter {
	position: relative;
	top: 30px;
	outline:2px solid black;
	font-size: 0;
	margin:auto;
	height:500px;
	width:500px;
	padding: 0;
	border: none;
}

.cell {
  height: 50px;
  width: 50px;
	margin:0;
	padding:0;
	border:none;
	outline:1px solid black;
  display:inline-block;
  background-color: white
}

@media (max-width: 501px) {
  .cell {
    height: 20px;
    width: 20px;
  }
  #pixelPainter {
    height: 200px;
    width: 200px;
  }
}
